@charset "UTF-8";

.t{
	text-align:center;
	position:relative;
	top:150px;
}
.login-user-str{
	font-weight:bold;
}

.strPosition{
	position:relative;
	top:-15px;
	z-index:100;
}

.strNamePosition{
	position:relative;
	top:-15px;
	z-index:100;
	font-style:italic;
}

.deposit-regist-button{
	position:absolution;
	left:55px;
	top:90px;
	z-index:100;
}

.spending-regist-button{
	position:absolution;
	left:55px;
	top:100px;
	z-index:100;
}

.expense-management-button{
	position:absolution;
	left:43px;
	top:113px;
	z-index:100;
}